.DS_Store
.bloop/
.bsp/
.idea/
.metals/
logs/
out/
project/
target/
local-only
/src/test/scala/daut37_pycontract/log_msl_timed.csv
*.sh
/src/test/scala/daut_endurance/
/src/test/scala/experiments/
/.bsp/sbt.json
