.DS_Store
.bloop/
.bsp/
.idea/
.metals/
logs/
out/
/project/**/metals.sbt
target/
local-only
/src/test/scala/daut37_pycontract/log_msl_timed.csv
*.sh
/src/test/scala/daut_endurance/
/src/test/scala/daut_pass/
/src/test/scala/experiments/
